<a href="https://colab.research.google.com/github/HikmahAlBaity/Project_Data_Science/blob/main/1_0_Assignment__1_DS_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/custcat.csv')

In [4]:
df.head ()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3

In [5]:
# read first 50 rows in data set
df.head (50)

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3
5,2,41,39,0,17,78.0,2,16,0.0,1,1,3
6,3,45,22,1,2,19.0,2,4,0.0,1,5,2
7,2,38,35,0,5,76.0,2,10,0.0,0,3,4
8,3,45,59,1,7,166.0,4,31,0.0,0,5,3
9,1,68,41,1,21,72.0,1,22,0.0,0,3,2
10,2,5,33,0,10,125.0,4,5,0.0,1,1,1
11,3,7,35,0,14,80.0,2,15,0.0,1,1,3
12,1,41,38,1,8,37.0,2,9,0.0,1,3,1
13,2,57,54,1,30,115.0,4,23,0.0,1,3,4
14,2,9,46,0,3,25.0,1,8,0.0,1,2,1
15,1,29,38,1,12,75.0,5,1,0.0,0,4,2
16,3,60,57,0,38,162.0,2,30,0.0,0,1,3
17,3,34,48,0,3,49.0,2,6,0.0,1,3,3
18,2,1,24,0,3,20.0,1,3,0.0,0,1,1
19,1,26,29,1,3,77.0,4,2,0.0,0,4,4
20,3,6,30,0,7,16.0,3,1,0.0,1,1,2
21,1,68,52,1,17,120.0,1,24,0.0,0,2,1
22,3,53,33,0,10,101.0,5,4,0.0,1,2,4
23,3,55,48,1,19,67.0,1,25,0.0,0,3,1
24,3,14,43,1,18,36.0,1,5,0.0,0,5,3
25,2,1,21,0,0,33.0,2,0,0.0,1,3,3
26,2,42,40,0,7,37.0,2,8,0.0,1,1,4
27,3,25,33,1,11,31.0,1,5,0.0,0,4,3
28,1,9,21,1,1,17.0,2,2,0.0,1,3,1
29,2,13,33,1,9,19.0,4,0,0.0,1,2,2
30,1,56,37,1,6,36.0,1,13,0.0,1,2,2
31,1,71,53,1,27,155.0,5,12,0.0,0,2,4
32,1,35,50,1,26,140.0,2,21,0.0,1,4,3
33,1,11,27,1,8,55.0,5,0,0.0,0,3,2
34,2,60,46,1,13,163.0,3,24,0.0,0,2,4
35,3,20,35,1,11,52.0,4,0,0.0,0,2,2
36,2,54,60,0,38,211.0,4,25,0.0,0,1,4
37,1,44,57,1,1,186.0,2,17,0.0,0,2,3
38,1,11,41,1,0,39.0,1,1,0.0,1,2,3
39,2,72,57,0,34,22.0,2,35,1.0,1,1,3
40,3,10,41,0,7,30.0,1,7,0.0,0,1,3
41,2,15,28,0,0,29.0,2,4,0.0,1,1,3
42,2,27,28,1,4,23.0,2,8,0.0,0,5,1
43,1,9,36,1,14,62.0,4,10,0.0,0,6,4
44,1,64,43,1,20,76.0,4,20,0.0,1,4,3
45,1,65,41,1,3,74.0,4,16,0.0,0,2,2
46,1,49,51,1,27,63.0,4,19,0.0,0,5,2
47,3,47,41,1,0,36.0,4,8,0.0,0,2,4
48,3,9,34,1,9,33.0,2,8,0.0,1,4,1
49,1,5,36,0,14,29.0,2,9,0.0,1,1,3

In [6]:
%whos

Variable   Type         Data/Info
---------------------------------
df         DataFrame         region  tenure  age <...>n[1000 rows x 12 columns]
pd         module       <module 'pandas' from '/u<...>ages/pandas/__init__.py'>